nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid white;
    padding: 0.5rem;
    transition: all 0.3s ease;
    font-size: 1rem;
    border-radius: 10px;
    color: white;
    &:hover {
      background: white;
      color: rgb(66, 66, 66);
    }
  }
}
.logo {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
